<%- include('../parts/header') %>
<main class="F02">

    <div class="container-fluid">
        <!-- <h1 class="text-light text-center">F02:AI語音助手</h1> -->
        <textarea class="res" cols="50" rows="6"> 歡迎光臨AI Hotel，有什麼能為您服務的地方嗎？ </textarea>
        <img class="bot" src="/images/bot.jpg" height="350" width="350">
    </div>
    <input type="button" id="question" class= "btn btn-info" value="提問">
    <embed src="/audio_files/hello.mp3" autostart="true" loop="1" volume="100" width="0" height="0">
</main>

<!-- script -->
<%- include('../parts/script') %>

<script>

    function move() {
        $(".bot").animate({ top: "45%" }, 1000).delay(50).animate({ top: "35%" }, 1000)
    };
    setInterval(move, 500);

    $("#question").click(() => {
        $.blockUI({
            message: '<h1>提問中...</h1>'
        });

        $.ajax({
            url: "/f02/AutoSpeaking",
            method: "POST",
            success: function (data) {
                $.unblockUI();
                if (data.code == 200) {
                    //播放聲音檔
                    var date = new Date().getTime()
                    var audio = new Audio("/audio_files/test.mp3?" + date);
                    audio.play();
                    var voiceStr
                    voiceStr = data.voicestr
                    $('.res').text(voiceStr)
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $.unblockUI();
            }
        });
    })





</script>
<%- include('../parts/footer') %>