<%- include('parts/header') %>
<main>

    <div class="container-fluid-1">
        <span>
            <h2>WELCOME</h2>
            <p>AI Hotel</p>
        </span>




        <!-- <h2 class="text-light text-center">WELCOME <p>AI Hotel</p></h2> -->
        <!-- <img id="image" height="300" width="300">
            <img id="img1" /> -->
    </div>
</main>

<!-- script -->
<%- include('parts/script') %>
<script>
    // window.onload = function() {
    //     window.setInterval(changeImage, 10);
    // };
    const socket = io.connect('http://localhost:3000');
    socket.on('image', (data) => {
        // console.log('data:', data);
        image = `data:image/jpeg;base64, ${data}`;
        if (data != '' & isNaN(data)) {
            $('#image').attr("src", image);
        }

        // var oldImg = document.getElementById('image');
        // var newImg = new Image();
        // newImg.id = 'image';
        // newImg.onload = function () {
        //     oldImg.parentNode.replaceChild(newImg, oldImg);
        // }
        // newImg.src = image;
        // oldImg.parentNode.replaceChild(newImg, oldImg);
    })

        // var img = new Image();
        // function changeImage(){
        //     if(img.src == null)
        //         document.getElementById("img1").src = "/images/now.jpg?d=" + new Date();
        //     else
        //         document.getElementById("img1").src = img.src;

        //     img.src = "/images/now.jpg?d=" + new Date();
        //     // setTimeout(changeImage,1);
        // }
</script>
<%- include('parts/footer') %>