*{ 
   margin:0; 
   padding:0; 
} 

body{
    background-attachment: fixed;
    background-repeat: repeat;
    background-position:center;
    background-image: url(../images/22.jpg);
    /* background-color: #ccc; */
    size: 100%;
    background-size: cover;
}
/* #dbody{width:350px; border:solid 2px #fff;} */
.maindiv{
    background-color: white;
}

.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

label.error {
    color: #EA5200;
}

.dropdown-item {
    color:white;
}

.dropdown-item:hover {
    color: black;
}
.F01{
    
    padding-top: 10%;
    padding-bottom: 17%;
    background-image: url(../images/face1.jpg);
    background-attachment:fixed;
    background-size: 100%;
    background-position:center; 
}

.F02{
    /* margin: 0px; */
    padding: 25%;
    background-image: url(../images/voice.jpg);
    background-size: cover;
    background-repeat: repeat; 
    background-attachment:fixed;
    background-position:center; 
}
.F03{
    
    
    padding-bottom: 1%;
    background-image: url(../images/record.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    height: 980px; 
    
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 60px;
}
p{
    text-align: center;
    font-size: 50px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Dancing Script', cursive;
}
.navbar-nav{
    margin-right: inherit; 
}
#image{
    border: 2px solid rgba(255, 0, 0, 0.404) !important;
    border-radius: 25px;
}
 
#image2{
    border: 2px solid rgba(255, 0, 0, 0.404) !important;
    border-radius: 25px;
}  

.modal-content{
    background-image: url(../images/checkin.png) !important;
    background-size: 110% !important;
}
.line{
    padding-left: 10px;
    color: aliceblue;
    font-size: 20px;
   
}
#signIn{
    padding-top: 60px;
}

.bot{
    position:absolute;
    right:70%;
    top: 40%;
    
}
#record{
    margin-top: 7%;
    margin-left: 20%;
    padding-left:10px;
    padding-top:10px;
    border-radius: 25px;
    background-color: rgba(240, 248, 255, 0.753);
    font-size: 20px;
    
}
.res{
    
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 80px;
    position:absolute;
    left:30%;
    bottom: 50%;
    background-color: rgba(250, 246, 244, 0.705);
    font-size: 20px;
   
}
.btn1{
    background-color: rgb(18, 238, 29);
    border: rgb(18, 238, 29);
}
.btn2{
    background-color: gray;
    border: gray;
}
.btn-primary{
    margin-bottom: 30px;
}
.btn-secondary{
    margin-bottom: 30px;
}

#question{
    /* margin-top: 2%; */
    margin-left: 60%;
    /* background-color: rgb(11, 236, 41); */
    /* border: 1px solid rgb(88, 190, 57); */
    border-radius: 10px;
    font-size: 25px;
    font-family: '微軟正黑體';
}
.go{
    padding-left: 60%;
    
}
#start{
    /* background-color: rgb(11, 236, 41); */
    /* border: 1px solid rgb(88, 190, 57); */
    border-radius: 10px;
    font-size: 25px;
    font-family:'微軟正黑體';
    margin-left: 20%;
}
#stop{
    font-size: 130%;
    border-radius: 5px;
    background-color: #EA5200;
    }