<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= locals.title? title:'AIHotel' %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/easyui.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css" >
    <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" />

    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-md-row fixed-top">
            <a class="navbar-brand" href="#">
                <img src="/images/img01.png" width="30" height="30" class="d-inline-block align-top" alt="">
                AIHotel
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                
                </ul>
            </div>
            <div class="form-inline">
               
            </div>
        </nav>
    </header>
	