<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title><%= locals.title? title:'AIHotel' %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/easyui.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css" >
    <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="/css/dmaku.css" />
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <header class="qq">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-md-row fixed-top">
            <a class="navbar-brand" href="/">
                <img src="/images/ai.png" width="30" height="25" class="d-inline-block align-top" alt="">
                AI Hotel
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">人臉鑰匙</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="/f01/page01">智慧鑰匙註冊</a>
                            <a class="dropdown-item" href="/f01/page02">智慧鑰匙辨識</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AI語音助手</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="/f02/page01">AI智能助手</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">商務錄音</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="/f03/page01">會議逐字稿</a>
                        </div>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">客服助手</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown4">
                            <a class="dropdown-item" href="/f04/page01">客服助手page01</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">人流檢測</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown5">
                            <a class="dropdown-item" href="/f05/page01">人流檢測page01</a>
                        </div>
                    </li> -->
                </ul>
            
            </div>
            <a href="" class="line"><i class="fab fa-line"></i></a>
            <a href="" class="line"><i class="fab fa-facebook-square"></i></i></a>
         
        </nav>
    </header>
	