<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/localization/messages_zh_TW.js"></script>
<script src="/js/jquery.easyui.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/js/d3.js"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/imagesloaded.pkgd.js"></script>
<script src="/js/jquery.blockUI.js"></script>