<%- include('../parts/header') %>	
	<main>
        <div class="container-fluid">
            <h1 class="text-light text-center">F04:客服助手</h1>
        </div>
    </main>
    
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
	    
    </script>
<%- include('../parts/footer') %>	
