<%- include('../parts/header') %>
<main class="F01">
    <div class="container-fluid" style="text-align: center;">
        <!-- <h1 class="text-light text-center">F01:人臉鑰匙</h1> -->
        <img id="image" height="300" width="300">
        <button type="button" class="btn btn-info" id="btn1"
            style=" width: 100px; height: 100px;margin: 30px;font-family: '微軟正黑體';font-size:20px;">報到</button>
    </div>

    <div class="container-fluid" style="text-align: center; width: 1000px;">
        <div class="form-row">
            <table id="userList"></table>
            <div id="userListPager"></div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signInTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signInTitle" style="color: white;">報到</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-5 mb-5">
                            <img id="image2" height="300" width="300">
                        </div>

                        <div class="col-md-6 mb-6" style="color: white;">
                            <label for="roomId">房號：</label>
                            <select class="form-control" id="roomId" name="roomId">
                                <option value="305">305</option>
                                <option value="306">306</option>
                            </select>
                            <label for="userNm">姓名：</label>
                            <input class="form-control" type="text" id="userNm" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" id="btn2">送出</button>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- script -->
<%- include('../parts/script') %>
<script>
    const socket = io.connect('http://localhost:3000');
    var img1, img2, rectangle, sendRectangle, sendImg1
    // loadTable();
        
    socket.on('image', (data) =>{
        if (data.code == 200 && data.data.length != 0) {
            res = JSON.parse(data.data)
            img1 = res.image1
            img2 = res.image2
            rectangle = res.rectangle
            image = `data:image/jpeg;base64, ${img2}`;
            $('#image').attr("src", image);
        }
    })

    $('#btn1').click(() => {
        sendRectangle = rectangle;
        sendImg1 = img1;
        $('#image2').attr("src", `data:image/jpeg;base64, ${img2}`);
        
        if(sendRectangle=='' || sendRectangle==null) {
            alert('未偵測到人臉，請確認');
            return;
        }
        console.log("rectangle:" + JSON.stringify(sendRectangle))
        roomId = $('#roomId').val('305');
        userNm = $('#userNm').val('');

        $('#signIn').modal('show');
    })

    $('#btn2').click(() => {
            
        roomId = $('#roomId').val();
        userNm = $('#userNm').val();

        if(userNm=='' || userNm==null) {
            alert('請輸入房客姓名');
            return;
        }
        
        $('#btn2').attr('disabled', true);
        $.ajax({
			url: "/f01/checkFaceImg",
			data:{
                'img' : sendImg1,
                'rectangle' : JSON.stringify(sendRectangle),
                'roomId' : roomId,
                'userNm' : userNm
			},
			method: "POST",
			success: function (data) {
                alert('報到成功');
                // $("#userList").datagrid('reload');
                $('#signIn').modal('hide');
                if(data.code == 200) {
                    vect = data.imageVect;
                    console.log(vect);
                    $('#btn2').attr('disabled', false);
                }

			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert('更新異常，請洽系統管理員');
		    }
	    });
    })

    function loadTable() {
        $("#userList").datagrid({
            url:'/f01/getUserData',
            title:'住客清單',
            iconCls: "fas fa-cash-register",
            rownumbers: true, 
            pagination: false,
            singleSelect:true,
            height: 200,
            width: '100%',
            queryParams: {
                
            },
            sortName: 'ROOMID',
            sortOrder: 'ASC',
            frozenColumns:[[
                {field:'ROOMID', title:'房號', width:'20%'}
            ]],
            columns:[[
                {field:'USER_NM', title:'顧客名稱', width:'20%'},
                {field:'FACE_VECT', title:'特徵向量', width:'40%'}
            ]],
            toolbar: []
        });
    }
</script>
<%- include('../parts/footer') %>