<%- include('../parts/header') %>	
    <style>
        .videostream {
            /* width:800px;
            height:550px; */
            width:310px;
            height:310px;
            /* background-color: rgb(228, 189, 116); */    
            margin:0px auto;
            margin-top: 30px;
            /* padding-left:125px;
            padding-right:125px;
            padding-top:50px; */
        }

        #unlock_button {
            width: 200px;
            height: 50px;
            font-size: 20px;
        }
        .unlockButton {
            width: 200px;
            height: 50px;
            margin:0px auto;
            margin-top: 20px;
        }

        .redlight1 {
            width: 200px;
            height: 200px;
            border: 3px solid rgb(138, 90, 1);
            border-radius: 125px;
            background-color: rgb(180, 117, 0);
            float: left;
            margin-left: 250px;
        }

        .redlight2 {
            width: 170px;
            height: 170px;
            border: 3px solid rgb(180, 19, 19);
            border-radius: 110px;
            margin: 10px;
            background-color: rgb(228, 18, 18);
        }

        .greenlight1 {
            width: 200px;
            height: 200px;
            border: 3px solid rgb(138, 90, 1);
            border-radius: 125px;
            background-color: rgb(180, 117, 0);
            float: right;
            margin-right: 250px;
        }

        .greenlight2 {
            width: 170px;
            height: 170px;
            border: 3px solid rgb(19, 184, 19);
            border-radius: 110px;
            margin: 10px;
            background-color: rgb(15, 221, 15);
        }

        .graylight2 {
            width: 170px;
            height: 170px;
            border: 3px solid rgb(41, 41, 41);
            border-radius: 110px;
            margin: 10px;
            background-color: rgb(65, 64, 64);
        }
        .doortip {
            width: 680px;
            height: 150px;
            margin:25px auto;
            border: 5px solid rgb(138, 90, 1);
            background-color: rgb(228, 189, 116);
            padding-top: 2em;
        }

        h1 {
            text-align: center;
            color:red;
        }
        .videoimg {
            height: 300px;
            width: 300px;
            /* border: 5px solid rgb(138, 90, 1); */
        }

        .roomId {
            width: 60px;
            height: 30px;
            position:relative;
            font-size: 18px;
        }
        
    </style>  
    <main class="F01">
        <div class="container-fluid">
            <!-- <h1 class="text-light text-center">F01:房間開鎖</h1> -->
        </div>
        <div style="margin: 10px auto; width: 200px;">
            <label for="roomId" style="color:white;font-size: 20px;">房間號碼:</label>
            <select class="roomId" id="roomId" name="roomId">
                <option value="305">305</option>
                <option value="306">306</option>
               
            </select>
        </div>
        <div class="videostream">
            <!-- <h1 style="text-align: center; color:black">影音串流</h1> -->
            <img class="videoimg" id="image" >
            <img class="videoimg" id="image2" >
        </div>       
        <div class ="unlockButton">
            <button type="button" class="btn btn-info" id="unlock_button" style="font-family: '微軟正黑體';font-size: 20px;">按此掃描解鎖</button>
        </div>
        <div class="greenlight1">
            <div class="graylight2">
            </div>
        </div>
        <div class="redlight1">
            <div class="graylight2">
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid doortip">
            <!-- <div class="container">
                <h1 class="display-4">歡迎您!XXX請進!</h1>
                <p class="lead">房門已開鎖，進出房間後請確認房門是否關閉，房門將自動上鎖!謝謝您!</p>
            </div> -->
        </div>
        
    </main>
    
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        // 顯示即時影像
        const socket = io.connect('http://localhost:3000');
        var img1, img2, rectangle, sendRectangle, sendImg1
        socket.on('image', (data) =>{
            if (data.code == 200 && data.data.length != 0) {
                res = JSON.parse(data.data)
                img1 = res.image1
                img2 = res.image2
                rectangle = res.rectangle
                image = `data:image/jpeg;base64, ${img2}`;
                $('#image').attr("src", image);
            }
        })

        // 點擊掃描後要執行的動作
        $('#image2').hide()
        $('#unlock_button').click(() => {
            $('#unlock_button').attr('disabled', true);
            sendRectangle = rectangle;
            sendImg1 = img1;
            $('#image2').attr("src", `data:image/jpeg;base64, ${img2}`);
            $('#image2').show()
            setTimeout(function() { $("#image2").hide(); }, 3000);
            $('#image').hide()
            setTimeout(function() { $("#image").show(); }, 3000);
            setTimeout(function() { $('#unlock_button').attr('disabled', false); }, 3000);
            if(sendRectangle=='' || sendRectangle==null) {
                alert('未偵測到人臉，請確認');
                return;
            }
            roomId = $('#roomId').val();

            $.ajax({
                url: "/f01/unlockFaceImg",
                data:{
                    'img' : sendImg1,
                    'rectangle' : JSON.stringify(sendRectangle),
                    'roomId' : roomId,
                },
                method: "POST",
                success: function (data) {
                    if(data.code == 200) {
                        var finalName, finalDist
                        finalresult = JSON.parse(data.dist)
                        finalName = finalresult.finalname
                        finalDist = finalresult.finaldist
                        unlockDoor(finalDist, finalName)
                    }
                    else {alert('錯誤')}
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('異常錯誤，請洽系統管理員');
                }
            });
        })

        // 根據歐式距離亮紅燈或綠燈的函式
        const redLight = $('.redlight1 div:first-child')
        const greenLight = $('.greenlight1 div:first-child')
        const doortip = $('.doortip')
        function unlockDoor(finalDist, finalName) {
            if (finalDist < 0.9) {
                redLight.removeClass()
                redLight.addClass('graylight2')
                greenLight.removeClass()
                greenLight.addClass('greenlight2')
                doortip.html("<div class='container'>\
                <h1 class='display-4' style='color:green'>歡迎您!"+finalName+"請進!</h1>\
                <p class='lead'>房門已開鎖，進出房間後請確認房門是否關閉，房門將自動上鎖!謝謝您!</p>\
                </div>")
            } else {
                greenLight.removeClass()
                greenLight.addClass('graylight2')
                redLight.removeClass()
                redLight.addClass('redlight2')
                doortip.html("<div class='container'>\
                <h1 class='display-4'>非此房間房客!</h1>\
                <p class='lead'>您好!未經此間房客同意請勿擅自進入!有任何問題請洽櫃台客服!謝謝您!</p>\
                </div>")
            } 
            
            // else {
            //     redLight.removeClass()
            //     redLight.addClass('graylight2')
            //     greenLight.removeClass()
            //     greenLight.addClass('graylight2')
            //     doortip.html("<div class='container'>\
            //     <h1 class='display-4'>請再次掃描!謝謝!</h1>\
            //     <p class='lead'>此次掃描未能百分之百確定您為此間房客!請再試一次，謝謝!</p>\
            //     </div>")
            // }
        }

        // 切換房號後重置掃描結果
        $('#roomId').change(() => {
            redLight.removeClass();
            redLight.addClass('graylight2')
            greenLight.removeClass()
            greenLight.addClass('graylight2')
            $('.container').remove()
        });
    </script>
<%- include('../parts/footer') %>	
