<%- include('../parts/header') %>
<main class="F03">
    <div class="container-fluid">
        <!-- <h4 class="text-light text-center">F03:商務錄音</h4> -->
        <!-- <label class="title">商務錄音 </label> -->
        <textarea id="record" cols="100%" rows="17"></textarea>
    </div>
    <div class="go">
        <input type="button" class='btn btn-info' id="start"  value="開始">
        <!-- <input type="button" id="stop" value="結束"> -->
    </div>


</main>

<!-- script -->
<%- include('../parts/script') %>
<script>
    $("#start").click(() => {
        $.blockUI({
            message: '<h1>錄音中...</h1>'
        });

        $.ajax({
            url: "/f03/voice2Word",
            method: "POST",
            success: function (data) {
                $.unblockUI();
                if (data.code == 200) {
                    var voiceStr
                    voiceStr = data.voicestr
                    $('#record').text(voiceStr)
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $.unblockUI();
            }
        });
    })
</script>
<%- include('../parts/footer') %>